<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blood Bank Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'patient' %}">Patient</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'services' %}">Serviecs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'donor' %}">Donor</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<body>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">patient name</th>
        <th scope="col">Age</th>
        <th scope="col">disease</th>
        <th scope="col">blood_group</th>
        <th scope="col">c_date</th>
      </tr>
    </thead>
    <tbody>
      {% for i in form %}
      <tr>
        <td>{{i.patient_name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.disease}}</td>
        <td>{{i.blood_group}}</td>
        <td>{{i.c_date}}</td>
      </tr>

      {% endfor %}
      
    </tbody>
  </table>
</body>
